Average.java
CountOddEven.java
CountVowels.java
DivisibleBy6.java
FindMaxElementInMatrix.java
Intersect.java
Palindrome.java
PerfectSquare.java
PrintDigitToWord.java
SumOfDigits.java
ThirdMax.java
array/ReverseArrayInGroup.java
Practice.java
